$header-backgroud-color: #3f669f
$header-text-color: #ddd

.app-header
  background-color: $header-backgroud-color
  color: $header-text-color

  > .container
    display: flex
    height: 40px
    justify-content: space-between
    align-items: center

.app-title,
.app-title-small
  font-size: 20px
  font-weight: 500

.app-title
  @media (max-width: 499px)
    display: none

.app-title-small
  @media (min-width: 500px)
    display: none
