*
  box-sizing: border-box

body
  margin: 0
  font-family: Roboto, sans-serif
  font-size: 15px
  color: $color-text-primary

$header-backgroud-color: $color-accent
$header-text-color: #ddd
$header-size: 50px

.app-header
  background-color: $header-backgroud-color
  color: $header-text-color

  > .container
    display: flex
    height: $header-size
    justify-content: space-between
    align-items: center

$main-mairgin-top: 40px
$main-mairgin-bottom: 50px

main
  margin-top: $main-mairgin-top
  margin-bottom: $main-mairgin-bottom

.container
  margin: 0 15px

  @media (min-width: 1030px)
    margin: 0 auto
    width: 1000px
